<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>EPAL Test - Lê Tấn Khang</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <div class="container">
        
        <header class="header">
            <div class="wrap-header-1">
                <div class="wrap-icon">
                    <a href="#"><img src="../public/icon/facebook.png" /></a>
                    <div class="vertical-divider"></div>
                    <a href="#"><img src="../public/icon/instagram.png" /></a>
                </div>
                <div class="wrap-icon">
                    <a href="#">Blog</a>
                    <div class="vertical-divider"></div>
                    <a href="#">Giới Thiệu</a>
                    <div class="vertical-divider"></div>
                    <a class="login" href="#">
                        <img src="../public/icon/account.png" />
                        <div> Đăng nhập</div>
                    </a>
                </div>

            </div>
            <div class="horizontal-divider-1"></div>
            <div class="wrap-header-2">
                <img src="../public/icon/Group.png" />
                <div class="wrap-icon">
                    <div class="search-container">
                        <input class="text-search" type="text" placeholder="Tìm kiếm sản phẩm">
                        <img class="icon-search" src="../public/icon/search.png" alt="Search">
                    </div>
                    <img class="shopping-icon" src="../public/icon/Group 1.png" />
                </div>

            </div>
            <div class="horizontal-divider-2"></div>
            <nav class="menu">
                <ul>
                    <a class="menu-item active" href="#">
                        <li>Trang chủ</li>
                    </a>
                    <a class="menu-item" href="#">
                        <li>Lan hồ điệp</li>
                    </a>
                    <a class="menu-item" href="#">
                        <li>Chủ đề theo mùa</li>
                    </a>
                    <a class="menu-item" href="#">
                        <li>Sinh nhật</li>
                    </a>
                    <a class="menu-item" href="#">
                        <li>Chúc mừng</li>
                    </a>
                    <a class="menu-item" href="#">
                        <li>Chia buồn</li>
                    </a>
                    <a class="menu-item" href="#"><img src="../public/icon/ting.png" />
                        <li>KHUYẾN MÃI</li>
                    </a>
                </ul>
            </nav>
        </header>

        <div class="main-content">
            <!-- slider -->
            <div class="slider">
                <div class="slides">
                    <div class="slide active">
                        <img src="../public/img/Rectangle 726.png" alt="Slide 1">
                        <div class="caption">
                            <h1>Trao gửi yêu thương</h1>
                            <p>Điện hoa quốc tế & toàn quốc. Mộc Flowers giao hoa miễn phí trong vòng 2h.</p>
                        </div>
                    </div>
                    <div class="slide">
                        <img src="../public/img/Rectangle 726.png" alt="Slide 1">
                        <div class="caption">
                            <h1>Trao gửi yêu thương</h1>
                            <p>Điện hoa quốc tế & toàn quốc. Mộc Flowers giao hoa miễn phí trong vòng 2h.</p>
                        </div>
                    </div>
                    <div class="slide">
                        <img src="../public/img/Rectangle 726.png" alt="Slide 1">
                        <div class="caption">
                            <h1>Trao gửi yêu thương</h1>
                            <p>Điện hoa quốc tế & toàn quốc. Mộc Flowers giao hoa miễn phí trong vòng 2h.</p>
                        </div>
                    </div>

                </div>
                <div class="indicators">
                    <span class="indicator active" data-slide="0"></span>
                    <span class="indicator" data-slide="1"></span>
                    <span class="indicator" data-slide="2"></span>
                </div>
            </div>
            <!-- products -->
            <div class="products">
                <h2>Sản phẩm của chúng tôi</h2>
                <p>Với nhiều năm kinh nghiệm phục vụ trong ngành điện hoa, Mộc Flowers chúng tôi luôn cố gắng để tạo ra
                    những sản phẩm tốt nhất, đa dạng nhất phục vụ cho mọi nhu cầu của khách hàng.</p>
                <div class="product-grid">
                    <div class="product-item">
                        <img src="../public/img/Rectangle 749.png" alt="Bó hoa">
                        <div class="product-info">
                            <div class="info-title">Bó hoa</div>
                            <div class="info-btn">Xem ngay <img src="../public/icon/chevron-right.png" class="icon">
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <img src="../public/img/Rectangle 750.png" alt="Kệ hoa">
                        <div class="product-info">
                            <div class="info-title">Kệ hoa</div>
                            <div class="info-btn">Xem ngay <img src="../public/icon/chevron-right.png" class="icon">
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <img src="../public/img/Rectangle 751.png" alt="Giỏ hoa">
                        <div class="product-info">
                            <div class="info-title">Giỏ hoa</div>
                            <div class="info-btn">Xem ngay <img src="../public/icon/chevron-right.png" class="icon">
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <img src="../public/img/Rectangle 728.png" alt="Hoa cưới">
                        <div class="product-info">
                            <div class="info-title">Hoa cưới</div>
                            <div class="info-btn">Xem ngay <img src="../public/icon/chevron-right.png" class="icon">
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <img src="../public/img/Rectangle 769.png" alt="Hợp hoa">
                        <div class="product-info">
                            <div class="info-title">Hợp hoa</div>
                            <div class="info-btn">Xem ngay <img src="../public/icon/chevron-right.png" class="icon">
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <img src="../public/img/Rectangle 770.png" alt="Bình hoa">
                        <div class="product-info">
                            <div class="info-title">Bình hoa</div>
                            <div class="info-btn">Xem ngay <img src="../public/icon/chevron-right.png" class="icon">
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <img src="../public/img/Rectangle 771.png" alt="Lan hồ điệp">
                        <div class="product-info">
                            <div class="info-title">Lan hồ điệp</div>
                            <div class="info-btn">Xem ngay <img src="../public/icon/chevron-right.png" class="icon">
                            </div>
                        </div>

                    </div>
                    <div class="product-item">
                        <img src="../public/img/Rectangle 772.png" alt="Lãng hoa">
                        <div class="product-info">
                            <div class="info-title">Lãng hoa</div>
                            <div class="info-btn">Xem ngay <img src="../public/icon/chevron-right.png" class="icon">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- frame -->
            <div class="bg-container" style="background-image: url('../public/img/Rectangle\ 761.png');">
                <div class="container-frame">
                    <h1 class="title-frm"> Lý do bạn nên chọn Mộc Flowers</h1>
                    <div class="frame-card">
                        <div class="card active">
                            <div class="icon"><img src="../public/icon/premium-badge 1.png" /></div>
                            <h3>Uy tín hàng đầu</h3>
                            <div class="card-event">Với nhiều năm kinh nghiệm phục vụ trong ngành điện hoa,
                                Mộc Flowers hiểu mức độ quan trọng trong công việc của mình
                                là truyền tải đúng và đủ thông điệp của người tặng đến người nhận.
                                Vì thế chúng tôi cam kết 100% sự hài lòng của khách hàng với dịch
                                vụ điện hoa của chúng tôi. </div>
                        </div>
                        <div class="card">
                            <div class="icon"><img src="../public/icon/handshake 1.png" /></div>

                            <h3>Chất lượng tuyệt vời</h3>
                            <div class="card-event">
                                Luôn cam kết đặt chất lượng hoa luôn tươi mới lên hàng đầu giao cho khách.
                                Các mẫu hoa luôn được cắm đủ số lượng và giống kiểu dáng đã đặt.
                            </div>
                        </div>
                        <div class="card ">
                            <div class="icon"><img src="../public/icon/certificate 1.png" /></div>
                            <h3>Chứng nhận sản phẩm</h3>
                            <div class="card-event">Sản phẩm của chúng tôi tự hào được chứng nhận chất.
                                Với các loại hoa dạng được nhập khẩu
                                đảm bảo chất lượng sản phẩm.</div>
                        </div>


                    </div>
                    <div class="dots2">
                        <span class="dot2 active" data-index="0"></span>
                        <span class="dot2" data-index="1"></span>
                        <span class="dot2" data-index="2"></span>
                    </div>

                </div>
            </div>
            <!-- frame2 -->

            <div class="bg-container">
                <div class="container-frame2">
                    <h1 class="title-frm2">Khách hàng nói gì về chúng tôi</h1>
                    <div class="frame-card2">
                        <div class="card2 active">
                            <div class="icon2"> <img class="carousel-image" src="../public/img/kh1.png"
                                    alt="Customer 1" /></div>
                            <div class="card-2-content">
                                <h3>Thúy Quỳnh Phan</h3>
                                <div class="card-event">
                                    Hoa siêu đẹp luôn, mình mua không nhiều nhưng được tư vấn nhiệt tình.
                                    Giá cả hợp lý mà còn nhiều sự lựa chọn. Chấm 5s luôn.
                                </div>
                            </div>
                        </div>
                        <div class="card2">
                            <div class="icon2"> <img class="carousel-image" src="../public/img/kh3.png"
                                    alt="Customer 2" /></div>
                            <div class="card-2-content">
                                <h3>Thúy Quỳnh Phan 2</h3>
                                <div class="card-event">
                                    Hoa siêu đẹp luôn, mình mua không nhiều nhưng được tư vấn nhiệt tình.
                                    Giá cả hợp lý mà còn nhiều sự lựa chọn. Chấm 5s luôn.
                                </div>
                            </div>
                        </div>
                        <div class="card2">
                            <div class="icon2"> <img class="carousel-image" src="../public/img/kh2.png"
                                    alt="Customer 3" /></div>
                            <div class="card-2-content">
                                <h3>Thúy Quỳnh Phan 3</h3>
                                <div class="card-event">
                                    Hoa siêu đẹp luôn, mình mua không nhiều nhưng được tư vấn nhiệt tình.
                                    Giá cả hợp lý mà còn nhiều sự lựa chọn. Chấm 5s luôn.
                                </div>
                            </div>
                        </div>
                        <!-- Navigation buttons -->
                        <div class="nav-buttons">
                            <button class="prev-button">&lt;</button>
                            <button class="next-button">&gt;</button>
                        </div>
                    </div>
                    <div class="dots3">
                        <span class="dot3 active" data-index="0"></span>
                        <span class="dot3" data-index="1"></span>
                        <span class="dot3" data-index="2"></span>
                    </div>
                </div>
            </div>


        </div>

         <!-- Site footer -->
         <footer class="footer-distributed">

            <div class="footer-left">
      
              <h3>Lê Tấn Khang<span> Frontend Dev</span></h3>
      
              <p class="footer-links">
                <a href="#" class="link-1">Home</a>
                
                <a href="#">Blog</a>
              
                <a href="#">Pricing</a>
              
                <a href="#">About</a>
                
                <a href="#">Faq</a>
                
                <a href="#">Contact</a>
              </p>
      
              <p class="footer-company-name">Em đã code tới đây</p>
            </div>
      
            <div class="footer-center">
      
              <div>
                <i class="fa fa-map-marker"></i>
                <p><span>khang1512.it2001@gmail.com</span> https://infor-khangle-dev.vercel.app/</p>
              </div>
      
              <div>
                <i class="fa fa-phone"></i>
                <p>+0788949502</p>
              </div>
      
              <div>
                <i class="fa fa-envelope"></i>
                
              </div>
      
            </div>
      
            <div class="footer-right">
      
              <p class="footer-company-about">
                <span>About the company</span>
                hello          </p>
      
              <div class="footer-icons">
      
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
      
              </div>
      
            </div>
      
          </footer>
 

  
    </div>
    <script src="../scripts/home_script.js"></script>
</body>

</html>