<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel Slider</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- frame -->
    <div class="bg-container" style="background: white">
        <div class="container-frame2">
            <h1 class="title-frm2"> Lý do bạn nên chọn Mộc Flowers</h1>
            <div class="frame-card2">
                <div class="card2 active">
                    <div class="icon2"> <img class="carousel-image" src="../public/img/Rectangle 726.png" alt="Customer 1"/></div>
                    <div class="card-2-content">
                        <h3>Uy tín hàng đầu</h3>
                        <div class="card-event">Với nhiều năm kinh nghiệm phục vụ trong ngành điện hoa,
                            Mộc Flowers hiểu mức độ quan trọng trong công việc của mình
                            là truyền tải đúng và đủ thông điệp của người tặng đến người nhận.
                            Vì thế chúng tôi cam kết 100% sự hài lòng của khách hàng với dịch
                            vụ điện hoa của chúng tôi. </div>
                    </div>
                    
                </div>
                <div class="card2">
                    <div class="icon2"> <img class="carousel-image" src="../public/img/Rectangle 726.png" alt="Customer 1"/></div>
                    <div class="card-2-content">
                        <h3>Uy tín hàng đầu</h3>
                        <div class="card-event">Với nhiều năm kinh nghiệm phục vụ trong ngành điện hoa,
                            Mộc Flowers hiểu mức độ quan trọng trong công việc của mình
                            là truyền tải đúng và đủ thông điệp của người tặng đến người nhận.
                            Vì thế chúng tôi cam kết 100% sự hài lòng của khách hàng với dịch
                            vụ điện hoa của chúng tôi. </div>
                    </div>
                </div>
                <div class="card2 ">
                    <div class="icon2"> <img class="carousel-image" src="../public/img/Rectangle 726.png" alt="Customer 1"/></div>
             
                    <div class="card-2-content">
                        <h3>Uy tín hàng đầu</h3>
                        <div class="card-event">Với nhiều năm kinh nghiệm phục vụ trong ngành điện hoa,
                            Mộc Flowers hiểu mức độ quan trọng trong công việc của mình
                            là truyền tải đúng và đủ thông điệp của người tặng đến người nhận.
                            Vì thế chúng tôi cam kết 100% sự hài lòng của khách hàng với dịch
                            vụ điện hoa của chúng tôi. </div>
                    </div>
                </div>
                

              
            </div>
            <div class="dots3">
                <span class="dot3 active" data-index="0"></span>
                <span class="dot3" data-index="1"></span>
                <span class="dot3" data-index="2"></span>
            </div>

        </div>
    </div>

    
    <script src="script.js"></script>
</body>
</html>
